
.label.titulo-h1 {
    -fx-pref-width: 620px;
    -fx-font-size: 24pt ;
    -fx-font-weight: bold;
    -fx-alignment:center;
}

.titulo-h2 {
    -fx-pref-width: 620px;
    -fx-font-size: 18pt ;
    -fx-font-weight: bold;
    -fx-alignment: left;
}

.titulo-p {
    -fx-pref-width: 620px;
    -fx-font-size: 12pt ;
    -fx-alignment: left;
}

.perfil-box {
    -fx-border-color: grey;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}
